@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

body {
    max-width: 500px;
    margin: auto;
}

h1 {
    font-family: Inter, sans-serif;
    font-weight: 700;
}

p,
label,
input[type="text"] {
    font-family: Inter, sans-serif;
    font-weight: 300;
}

label {
    min-width: 80px;
    display: inline-block;
}

.content {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50%;
}

input {
    margin: 5px;
    width: 70%;
}

.btn {

    font-family: Inter, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background-color: #0066CC;
    padding: 10px 30px;
    border: 2px solid #0066cc;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition: 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin: 10px auto;
}

.btn:hover {

    transition: 1000ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #fff;
    color: #0066cc;
    border: solid 2px #0066cc;
}
.icon {
    margin: auto;
    display: block;
}